body {
    background-image: url("https://cdn.wallpapersafari.com/22/73/xF4zkp.jpg;");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lavender;
    padding: 0 20%;
}